:root {
    --first: #252422;
    --second: #2b2926;
    --third: #403d3a;
    --fourth: #ccc5b9;
    --fifth: #fffcf2;
    --sixth: #f4a77b;
    --seventh: #f07c42;
    --eighth: #ed6c31;
    --nineth: #ea591f;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
